:root{
    --orangePrimary:#f2b366;
    --brownMenu:#3f2f21;
    --greyBackgrounds:rgb(190,183,171,0.3);
}   

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    background-color: var(--greyBackgrounds);
    padding: 2ch;
}
.header-logo{
    display: none;
}
.header-logo:hover { 
    cursor: default; transform: rotate(360deg); transition: all 0.3s ease-in-out 0s;
}
.header--title{
    color: var(--orangePrimary);
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    text-align: center; 
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}
.menu--item{
    text-decoration: none;
    padding:  0.2rem;
    background-color: var(--brownMenu) ;
    color: var(--orangePrimary);
    border-radius: 15px;
    width: 150px;
    text-align: center;
}
.menu--item:hover{
    color: var(--brownMenu);
    background-color: var(--orangePrimary);
}
.hero{
    height: 50vh;
    background-image: url('/img/yawingCat.png');
    background-size: cover;
    color: white;
    font-weight: bold;
    font-size: clamp(
        1rem,
        5vw,
        4rem
      ); /* idealmente quiero el tamaño del texto un 5% del viewpoer, pero no disminuyas más de 2rem y nunca aumentes más de 4rem*/
      font-weight: 700;;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
    text-shadow: 5px 5px black;
    background-position: center 1%;
}
.team-tittle{
    text-align: center;
    color: var(--brownMenu);
}
.team-member{
    height: 200px;
    /*width: 350px;*/
    width: 70%;
    max-width: 350px;;
    margin: 0 auto; margin-bottom: 10px;
    background-repeat: no-repeat, repeat;
    background-position: center 30%, center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 8px 1px black;
    border-radius: 4px;
}
.member-patricia{
    background-image: url("/img/patricia.png"),url("/img/pawsBackground.png");
}
.member-veronica{
    background-image: url("/img/veronica.png"),url("/img/pawsBackground.png");
}
.member-edurne{
    background-image: url("/img/edurne.png"),url("/img/pawsBackground.png");
}
.name-member, .job-member{
    margin: 0;
}
.name-member{
    color: var(--brownMenu);
}
.job-member{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
footer{
    background-color: var(--greyBackgrounds);
    text-align: center;
}
.important{
    color: var(--brownMenu);
    font-weight: bold;
}

@media (min-width: 598px) {
    .header-logo{
        display:inline-block;
        height: 60px;
    }
    .header--title{
        display: none;
    }
    .menu{        
        flex-direction: row; 
    }
    .header{
        display: flex;
        
    }
}